<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>NSBluetoothAlwaysUsageDescription</key>
		<string>检验设备需开启蓝牙功能</string>
		<key>NSBluetoothPeripheralUsageDescription</key>
		<string>检验设备需开启蓝牙功能</string>
		<key>NSLocalNetworkUsageDescription</key>
		<string>检验设备WiFi需开启本地网络功能</string>
		<key>NSPhotoLibraryAddUsageDescription</key>
		<string>导出检验设备记录需开启添加相册功能</string>
	</dict>
</plist>